/** defaults for links
 *  ------------------
**/

a,
a:visited {
  color: $brand-c-link;
  text-decoration: none;
  transition: color $brand-transition ease-in-out, background $brand-transition ease-in-out;

  &:hover,
  &:focus {
    color: $brand-c-highlight;
  }

  &:active {
    // on click...
  }

  &:link {
    // highlights links on iOS, basically works like the :hover selector for mobile devices.
    -webkit-tap-highlight-color: rgba($brand-c-highlight, 0.2);
  }
}
