/** Social network colours
 *  ----------------------
**/

$social-c-facebook: #3b5998;

$social-c-twitter: #00aced;

$social-c-googleplus: #dd4b39;

$social-c-pinterest: #cb2027;

$social-c-instagram: #d92e7f;
// codepen.io/thebabydino/pen/qZvvBM
$social-c-instagram-gradient: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf);

$social-c-linkedin: #007bb6;

$social-c-vimeo: #3ab9fe;

$social-c-youtube: #bb0000;

$social-c-tumblr: #32506d;

$social-c-dribbble: #e04c86;

$social-c-snapchat: #fffc01;

$social-c-goodreads: #5a4737;
