/** Breakpoints
 *  -----------
 *  ref: http://css-tricks.com/naming-media-queries/
 *  ref: http://css-tricks.com/sass-style-guide/
 *
 *  breakpoints ordered by names of ranks within British nobility
 *  extra breakpoint names included but commented out by default
 *
 *  For addtional ranks: http://en.wikipedia.org/wiki/Royal_and_noble_ranks
 *
 *  Breakpoints are currently in em (roughly *0.0625 or /16 of the pixel equivelant)
**/

$serf: 0;
// $peon:
// $peasant:
$valet: 30.1em; // approx 480px
// $gentleman:
$squire: 48em; // approx 768px
// $knight:
$baron: 64.4em; // approx 1030px
// $earl:
$duke: 77.5em; // approx 1240px
$archduke: 112.5em; // approx 1800px
// $queen:

$breakpoints: (
  // 'peon'		    'screen and (min-width: #{$peon})',
  // 'peasant'	  'screen and (min-width: #{$peasant})',
  'valet'			    'screen and (min-width: #{$valet})',
  // 'gentleman'  'screen and (min-width: #{$gentleman})',
  'squire'		    'screen and (min-width: #{$squire})',
  // 'knight'		  'screen and (min-width: #{$knight})',
  'baron'			    'screen and (min-width: #{$baron})',
  // 'earl'		    'screen and (min-width: #{$earl})',
  'duke'			    'screen and (min-width: #{$duke})',
  'archduke'		  'screen and (min-width: #{$archduke})',
  // 'queen'		  'screen and (min-width: #{$queen})',
  'retina'        '(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)'
) !default;
