/** aliases for quick reference and typing.
 *  ---------------------------------------
**/
$base-spacing-unit: $inuit-global-spacing-unit;
$bsu: $inuit-global-spacing-unit;
$bsu-s: $inuit-global-spacing-unit-small; // half size
$bsu-l: $inuit-global-spacing-unit-large; // double size

$base-font-size: $inuit-global-font-size;
$base-line-height: $inuit-global-line-height;
